<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">


    <servlet>
        <servlet-name>Controller</servlet-name>
        <servlet-class>by.bsuir.spp.controller.Controller</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Controller</servlet-name>
        <url-pattern>/controller</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>by.bsuir.spp.listener.ConnectionProviderListener</listener-class>
    </listener>

    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>SessionFilter</filter-name>
        <filter-class>by.bsuir.spp.filter.SessionFilter</filter-class>
        <init-param>
            <param-name>avoid-urls</param-name>
            <param-value>
                /login.jsp,/registration.jsp,/controller
            </param-value>
        </init-param>
        <init-param>
            <param-name>user_pages</param-name>
            <param-value>
                /favicon.ico,/home.jsp,/user_receipts.jsp,/advertisement_view.jsp,/package_view.jsp,/prepayment_book_view.jsp,/receipt_view.jsp,/search_statement_view.jsp,/user_advertisements.jsp,/user_packages.jsp,/user_prepayment_books.jsp,/user_searchstatements.jsp
            </param-value>
        </init-param>
        <init-param>
            <param-name>admin_pages</param-name>
            <param-value>
                /favicon.ico,/advertisements.jsp,/advertisement_view.jsp,/home_admin.jsp,/package_view.jsp,/packages.jsp,/passport_view.jsp,/passports.jsp,/prepayment_book_view.jsp,/prepayment_books.jsp,/receipt_view.jsp,/receipts.jsp,/search_statement_view.jsp,/search_statements.jsp,/user_view.jsp,/users.jsp
            </param-value>
        </init-param>
        <init-param>
            <param-name>manager_pages</param-name>
            <param-value>/favicon.ico,/advertisements.jsp,/advertisement_view.jsp,/home_manager.jsp,/package_view.jsp,/packages.jsp,/prepayment_book_view.jsp,/prepayment_books.jsp,/receipt_view.jsp,/receipts.jsp,/search_statement_view.jsp,/search_statements.jsp</param-value>
        </init-param>
    </filter>

    <filter-mapping>
        <filter-name>SessionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <display-name>CharsetFilter</display-name>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>by.bsuir.spp.filter.CharsetFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>


</web-app>